.teachercard{
    background-color: #F0F2F5;
}
.teachercard:hover{
    scale:1.1;
    background-color: green;
    color: white;
    transition: 0.2s;
}
.arrow:hover{
    transition: 0.2s;
    scale: 1.3;
    cursor: pointer;
}
