#sp_flex{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: center;

}
#spg{
    /* width: 50vw; */
    min-width: 270px;
    margin: 8px;
}
#spg_btn{
    background-color: black;
}
#spg_btn:hover{
    border: 2px solid black;
    background-color: greenyellow;
    scale: 1.03;
    color: black;
}