.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 60px; */
    width: 78.9vw;

}
.mid{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 30px; */
    width: 78.9vw;

}
.end{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 30px; */
    width: 78.9vw;

}
body{
    overflow-y: none;
    
}
.bg{
    background-color: #F0F2F5;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100vh;
    /* width: 100vw; */
    overflow-x: none;
    overflow-y: scroll;
    /* max-width: 3200px; */
    margin-left: -800px;
}
.sidebar{
    width: 18vw;
    /* border-radius: 20px; */
    /* border: 2px solid #232325; */
    height: 100vh;
    /* margin-left: 16px; */
    /* background-color: #232325; */
    color: white;
    overflow: hidden;
    overflow-y: auto;
    padding: 0px;
    margin-left: -10px;
    margin-top: -36.3px;
    margin-bottom: 0px;
   
   
    
    
}
.sidebar h5{
    margin-left: 17px;
    width: 87%;
    border-radius: 8px;
}
.sidebar h5:hover{
    
    background-color: #525256;
}
.mainbg{
    padding: 10px;
    padding-top: 36px;
}
.sidebar{
    /* scrollbar-width: thin; */
    scrollbar-color: black;
   /* height: 90%; */
  }
  .sidebar::-webkit-scrollbar {
    width: 4px;
  }
  
  .sidebar::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px;
  }
  
  .sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #333; /* Darker color on hover */
  }
  
  .sidebar::-webkit-scrollbar-track {
    background-color: none; /* Lighter color for the track */
    height: 90%;
  }
  .top_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
body{
    background-color: #F0F2F5;
    /* overflow-y: hidden; */
}
#nothover:hover{
    background-color: #232325;
}