body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
  width: 0;
}

*{
  margin: 0;
  padding: 0;
}

.typecolor{
  color: rgb(106, 169, 11);
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: sans-serif;
  -ms-overflow-style: none; /* This hides the scrollbar */
  scrollbar-width: thin; 
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 8% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 380px; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  position: relative;
  margin-left: 95%;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.mcontent{
  border-radius: 5px;
  font-family: 'Dancing Script', 'cursive';
}



.drawer-container {
  --transition-speed: 0.3s;
}

.drawer {
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.4);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.4px);
-webkit-backdrop-filter: blur(7.4px);
border: 1px solid rgba(255, 255, 255, 0.3);
  width: 350px;
  height: 100%;
	overflow: hidden;
  position: fixed;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: transform var(--transition-speed) ease;
  background-color: #181822;
  color: white;
  z-index: 1000;
}

.drawer.left {
  padding: 2%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

.drawer-container.open .left {
  transform: translateX(0);
}

.backdrop {
  visibility: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity var(--transition-speed) ease,
    visibility var(--transition-speed) ease;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  pointer-events: none;
	z-index: 0;
}

/*
	Only apply the box-shadow when open to prevent the shadow
  from appearing on the edge of the screen when inactive
 */
.drawer-container.open .drawer {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.drawer-container.open .backdrop {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
	z-index: 999;
}
.userSch{
  /* From https://css.glass */
 
  border-radius: 5px;
}
.userSch:hover{
  background-color:#8F4FBE ;
  cursor: pointer;
  transition: .6s;

}
.userch{
  /* background-color: #e3e3e3; */
  width : 90%;
  border-radius: 5px;

}
.userch:hover{
  background-color: #8F4FBE;
  cursor: pointer;
  color: white;
  transition: .3s;
  .typecolor{
    color: white;

  }
}

.box{
  height: 67.6vh;
  width: 45%;
  overflow-y: auto;
  background-color: #fff;
}
.chathead{
  width: 100%;
  position: sticky;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mychat{
  opacity: .8;
  font-family: 'Libre Baskerville', serif;
  font-size: 28px;
}
.mychat1{
  /* From https://css.glass */
  /* background-color: #8F4FBE; */
  background-color: white;
  color: black;
  border-right: 1px solid grey;
}

.chatbtn{
  border: none;
  opacity: .8;
  padding: 5px;
  border-radius: 4px;
}
.chatbtn:hover{
  background-color: #dbdbdb;
}

.grouphead{
  font-size: 25px;
  opacity: .7;
}

.mesinp{
  width: 100%;
    height: 53px;
    margin-top: 2%;
    border-radius: 22px;
}

.hide {
  cursor: pointer;
  background-color: rgb(208, 208, 208);
}

.notif:hover{
  cursor: pointer;
}

.sendbtn{
  opacity: .8;
  border: 1px solid #bbbbbb;
  margin: 5px 0px 0px 80%;
  border-radius: 5px;
}

.chatbox{
  background-color: white;
  width: 100%;
  height: 67.6vh;
  color: black;
}


.homelottie{
  border-radius: 10px;
}

.lt2{
  width: 400px;
}

.typewriter h1{
  color: #fff;
  /* font-family: monospace; */
  overflow: hidden;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; 
  white-space: nowrap; /*Keeps the content on a single line*/
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .1em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .7s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white;}
}



@media only screen and (max-width: 900px) {
   
  .typewriter h1{
    font-size: 2.7rem;
  }

  .lt1{
    display: none;
  }
}

@media only screen and (max-width: 750px) {

  .box {
    width : 100%;
    height: 68vh;
  }

  .chatbox {
    width : 100vw;
    height: 68vh;
  }

  .seacrchbtn{
    font-size: 13px;
    padding: 5px;
  }
  .slideheading{
    font-size: 28px;
  }
  .notif{
    font-size: 12px;
    margin-top: -5px;
  }

  .sldrp {
    padding: 2px 5px;
  }
}


@media only screen and (max-width: 580px) {
   
  .typewriter h1{
    font-size: 2rem;
    font-weight: 700;
  }

}

@media only screen and (max-width: 470px) {
   
  .typewriter h1{
    font-size: 1.5rem;
    font-weight: 700;
  }
  .lt2{
    width: 330px;
  }

}

@media only screen and (max-width: 300px) {

  .typewriter h1{
    font-size: 1.2rem;
    font-weight: 700;
  }
  .lt2{
    width: 270px;
  }
}






